h1{ 
    text-align: center;
    font-weight: 900;
    text-decoration: #bf0010 line-through;
    letter-spacing: 10px;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

 a{
    text-decoration: none ;
    color: #bf0010;

 }

 p{
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
